@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgb(3, 4, 6);
  padding-bottom: 15px;
  z-index: 1;
}

.hero-section {
  margin-top: -80px;
  padding-top: 80px;
  min-height: 822px;
  background: url(./public/bg-image.png);
  background-size: cover;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
}

.navbar {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

.navbar .a a {
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  padding-right: 25px;
  opacity: 0.7;
}

.avatar {
  display: flex;
  cursor: pointer;
}

.avatar .text {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 7px;
  color: #fff;
}

.cta {
  padding: 184px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cta h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
}

.cta button {
  width: 272px;
  height: 76px;
  margin-top: 32px;
  padding: 20px;
  border-radius: 15px;
  background-color: #7b61ff;
  gap: 8px;
  font-size: 20px;
  border: none;
  font-weight: 500px;
  color: #fff;
  line-height: 18px;
}

.search {
  border: solid;
  display: flex;
  justify-content: space-between;
  margin: 0 130px;
  padding: 8px;
  max-width: 1145px;
  width: 100%;
  height: 88px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0px 17px 117px 17px rgba(36, 8, 80, 0.692);
}

.search .items {
  display: flex;
  border: none;
  background-color: #fff;
}

.Location {
  width: 300px;
  display: flex;
}

.Location span,
.Activity span,
.Guests span,
.When span {
  font-size: 14px;
  opacity: 0.7;
  font-weight: 400px;
  line-height: 20px;
}

.Location,
.Activity,
.Guests,
.When {
  background: transparent;
  border: none;
}

.Location h4,
.Activity h4,
.Guests h4,
.When h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.icon {
  font-size: 24px;
  color: #ffa800;
  display: flex;
  align-items: center;
}

.Guests,
.When,
.Activity {
  display: flex;
  width: 254px;
}
.Location .text,
.Activity .text,
.Guests .text,
.When .text {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 7px;
  align-items: start;
}

.search-icon {
  width: 60px;
  height: 60px;
  font-size: 27px;
  color: #fff;
  padding: 18px;
  background-color: #7b61ff;
  gap: 18px;
  border: none;
  border-radius: 12px;
  margin: 2px;
}

.section {
  display: flex;
  flex-direction: column;
}

.imgs {
  display: flex;
  padding: 0 279px;
}

.img {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  overflow: hidden;
}

.imgs1 {
  display: flex;
  padding: 0 279px;
}

.img1 {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.imgs2 {
  display: flex;
  padding: 0 279px;
}

.imgs3 {
  margin-top: 88px;
  display: flex;
  padding: 0 400px;
}

.imgs3 .img2 {
  margin-right: 30px;
  margin-top: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 348px;
  margin-right: 15px;
}

.info .s1 {
  margin-left: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.info {
  padding-bottom: 11em;
  display: flex;
  justify-content: space-between;
}

.info1 {
  margin-top: 3em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
}

.info1 .s1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.info1 .text {
  margin-top: 10px;
  max-width: 448px;
  line-height: 30px;
}

.item {
  padding-right: 15px;
}

.post-info {
  display: flex;
}

.stars {
  width: 100px;
  height: 16px;
}

.loc {
  justify-content: space-between;
  display: flex;
}

.title {
  color: #000;
  margin-left: 280px;
  margin-bottom: 64px;
  margin-top: 120px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.hero-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 270px;
}

.hero-title button {
  width: 105px;
  height: 40px;
  background-color: #f6f4ff;
  border: none;
  color: #7b61ff;
  border-radius: 12px;
}

.s1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.text {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.7;
  line-height: 20px;
  color: #000;
  text-align: left;
}

footer {
  padding: 100px 0px;
  color: #000;
  margin-top: 120px;
  background-color: #f9f9f9;
}

footer .container {
  display: flex;
}

.col .logo {
  display: flex;
  flex-direction: column;
  max-width: 354px;
}

.icons {
  margin-top: 50px;
  background-color: #000;
}

.col1 {
  display: flex;
}

.Support,
.Company,
.about {
  display: flex;
  margin: 0px 20px;
  flex-direction: column;
}
.col3 .s1,
.Support .s1,
.Company .s1,
.about .s1 {
  margin-bottom: 10px;
}

.Support .text,
.Company .text,
.about .text {
  margin-bottom: 10px;
}

.col3 {
  max-width: 388px;
}

.col3 .Location {
  background-color: #fff;
  width: 95%;
}

.Location button {
  background-color: #7b61ff;
  border: none;
  width: 60px;
  height: 60px;
  font-size: 25px;
  border-radius: 12px;
  color: #fff;
  margin-left: 110px;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  background: #7b61ff;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffa800;
}

.img {
  opacity: 1;
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}
.img:hover {
  transform: scale(1.1);
  opacity: 0.9;
  overflow: hidden;
  z-index: 0;
}

.img1 {
  opacity: 1;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.img1:hover {
  transform: scale(1.1);
  opacity: 0.9;
  z-index: 0;
}

button {
  opacity: 1;
  transition: transform 0.3s ease;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
  opacity: 0.9;
  z-index: 0;
}
.logo:hover {
  opacity: 0.9;
}

.navbar a {
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
  font-size: 1em;
}
.navbar a:hover {
  opacity: 0.9;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 70%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navbar a:hover::after {
  transform-origin: center;
  transform: scaleX(1);
}
